@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;
.error {
    @include flexDisplay($direction: column, $justify: space-evenly, $align: center);
    gap: 100px;

    p{
        @include flexDisplay($wrap: wrap,);
        color: $primary-kasacolor;
        font-size: 2.25rem;
    }
    a{
        color: black;
    }
}
