@use './variables' as *;
@use './mixins' as *;

*{
    font-family: $global-font;
}
body{
    @include flexDisplay($direction: column);
    max-width: 100%;
    #root{
        @include flexDisplay($direction: column, $align: center);
        padding-top: 45px;
        gap: 50px;
    }
    footer{
        width: 100%;
    }
}