@use './variables' as *;
@use './mixins' as *;

*{
    font-family: $global-font;
}
body{
    @include flexDisplay($direction: column);
    @include resize($maxW: 100%, $w: 100%);
    margin: 0px;

    #root{
        @include flexDisplay($direction: column, $align: center);
        padding-top: 45px;
        gap: 50px;
        @media(max-width: 425px){
            padding-top: 20px;
            gap: 27px;
        }
    }

    footer{
        width: 100%;
    }
}