footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 13.06em;
    width: 100%;
    background-color: black;

    p{
        display: flex;
        flex-wrap: wrap;
        color: white;
    }
}