@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.banner{
    @include flexDisplay($align: center, $justify: center);
    @include resize($w: 100%, $h: 100%, $maxW: 1240px, $maxH: 223px);
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    color: $component-textcolor;
    @media (max-width: 425px){
        @include resize($maxH: 111px);
    }
    

    //Overlay for darkening the bg-image without affecting the text
    &::before {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: 25px;
        mix-blend-mode: darken;
        background: rgba(0,0,0, 0.4);
        z-index: 1;
    }

    span{
        position: relative;
        z-index: 2;
        font-size: 3rem;
        font-weight: 700;
        padding: 0.9375rem;
        @media(max-width: 425px) {
            font-size: 1.5rem;
        }
    }
    
    
    &.home-banner {
        background-image: url('../../assets/Banner-Home.jpg');
        background-size: cover;
        background-position: center;
    }
    &.about-banner {
        background-image: url('../../assets/Kasa-about.jpg');
        background-size: cover;
        background-position: center;
    }


}